<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>リーダ任命のお知らせ</h1>    
    <p>あなたはチーム<%= @team_name %>のリーダに任命されました</p>
  </body>
</html>
