<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>アジェンダ削除のお知らせ</h1>    
    <p>アジェンダ<%= @agenda_title %>が削除されました</p>
  </body>
</html>
